.textArea {
  background-color: unset;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.15em;
  position: absolute;
  padding: unset;
  margin: unset;
  resize: none;
  outline: unset;
  overflow: hidden;
}
