.toolbar,
.popover {
  --_toolbar-gap: 0.25rem;
  background-color: var(--clr-neutral-background);
  font-size: var(--text-sm);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.toolbar {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  gap: var(--_toolbar-gap);
  box-shadow: 0 0 50px -12px rgb(24 24 27 / 0.9);
}

.popover {
  box-shadow: var(--shadow-lg-left);
}
.popover[data-gap='medium'] {
  gap: 1rem;
}
.popover[data-padding='medium'] {
  padding: 1rem;
}
.popover[data-slider-only] {
  padding-block: 0.75rem 0.5rem;
  padding-inline: 1rem;
}

.toolbarButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  user-select: none;
}
.toolbarButton[data-icon-only] {
  padding: 0.25rem;
}
.toolbarButton:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-highlight);
}
.toolbarButton:focus-visible {
  outline: 2px solid transparent;
}
.toolbarButton[aria-expanded='true']:not(:hover, :focus-visible) {
  background-color: var(--clr-neutral-subtle-highlight);
}
.toolbarButton:is([aria-checked='true'], [aria-pressed='true']) {
  background-color: var(--clr-primary);
}
.toolbarButton:is([aria-checked='true'], [aria-pressed='true']):is(
    :hover,
    :focus-visible
  ) {
  background-color: var(--clr-primary-highlight);
}
.toolbarButton[data-disabled] {
  color: var(--clr-text-neutral-dimmed);
}

.toggleGroup {
  display: flex;
  gap: var(--_toolbar-gap);
}
.toggleGroup[data-orientation='vertical'] {
  flex-direction: column;
}

.toolbarSeparator {
  background-color: var(--clr-neutral-highlight);
  height: 1px;
  margin-block: calc(0.5rem - var(--_toolbar-gap));
}

.labelAndInput {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.labelAndOutput {
  display: flex;
  justify-content: space-between;
}

.softText {
  color: var(--clr-text-neutral-soft);
}

.input {
  background-color: var(--clr-neutral-dark);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
