:root {
  /* Colors */
  --clr-neutral-dark: #27272a;
  --clr-neutral-background: #3f3f46;
  --clr-neutral-subtle-highlight: #52525b;
  --clr-neutral-highlight: #71717a;
  --clr-text-neutral-dimmed: #71717a;
  --clr-text-neutral-soft: #a1a1aa;
  --clr-accent-subtle-highlight: #e4e4e7;
  --clr-accent: #ffffff;
  --clr-primary: #a855f7;
  --clr-primary-highlight: #c084fc;
  --clr-danger: #f87171;

  /* Shadows */
  --shadow-lg-right: 10px 0 15px -3px rgb(24 24 27 / 0.5),
    4px 0 6px -4px rgb(24 24 27 / 0.5);
  --shadow-lg-left: -10px 0 15px -3px rgb(24 24 27 / 0.5),
    -4px 0 6px -4px rgb(24 24 27 / 0.5);
  --shadow-lg-bottom: 0 10px 15px -3px rgb(24 24 27 / 0.5),
    0 4px 6px -4px rgb(24 24 27 / 0.5);
  --shadow-lg-top: 0 -10px 15px -3px rgb(24 24 27 / 0.5),
    0 -4px 6px -4px rgb(24 24 27 / 0.5);

  /* Gradients */
  --transparency-grid: linear-gradient(
      -45deg,
      transparent 75.5%,
      rgb(188, 188, 188) 75.5%
    ),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);

  /* Font sizes */
  --text-sm: 0.875rem;
  --text-xl: 1.25rem;

  /* Transition */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.konva-stage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* This class is set by Konva itself */
.konvajs-content {
  background-color: var(--canvas-background-color);
}

/* Using `!important` is necessary because the selectors for the rich color
styles added by the Sonner library have high specificity and there's no way to
style the close button directly (using the style attribute) */
.toast-close-button {
  background-color: var(--clr-neutral-dark) !important;
  border-color: var(--clr-neutral-highlight) !important;
}
.toast-close-button[data-disabled='true'] {
  background-color: var(--clr-neutral-background) !important;
  color: var(--clr-neutral-highlight) !important;
  border-color: var(--clr-neutral-subtle-highlight) !important;
}

.focus-ring {
  --_ring-color: transparent;

  box-shadow: 0 0 0 5px var(--_ring-color);
  outline: 1px solid transparent;
  transition-property: box-shadow, outline;
  transition-timing-function: var(--ease-in-out);
  transition-duration: 150ms;
}
.focus-ring:focus-visible {
  --_ring-color: rgb(168 85 247 / 0.25);
  outline-color: var(--clr-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que el spinner esté por encima de otros elementos */
}