.contextMenu {
  background-color: var(--clr-neutral-background);
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 50px -12px rgb(24 24 27 / 0.9);
}

.contextMenuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  user-select: none;
  /* cursor: pointer; */
}
.contextMenuItem[data-state='open'] {
  background-color: var(--clr-neutral-subtle-highlight);
}
.contextMenuItem[data-highlighted] {
  background-color: var(--clr-primary);
  outline: 2px solid transparent;
}
.contextMenuItem[data-disabled] {
  color: var(--clr-text-neutral-dimmed);
}

.contextMenuIconRightContainer {
  margin-left: auto;
  padding-left: 2rem;
}
