.playerBar {
  background-color: var(--clr-neutral-background);
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: calc(100% - 2rem);
  max-width: 40rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 50px -12px rgb(24 24 27 / 0.9);
  transition-property: opacity;
  transition-timing-function: var(--ease-in-out);
  transition-duration: 150ms;
}

.playerBarButton {
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.playerBarButton:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-highlight);
}

.popover {
  background-color: var(--clr-neutral-background);
  font-size: var(--text-sm);
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-lg-bottom);
}

.playerBarTime {
  display: flex;
}
.playerBarTime > * {
  display: flex;
  justify-content: center;
  width: 5ch;
}
