.group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.labelAndOutput {
  display: flex;
  justify-content: space-between;
}

.track {
  --_slider-track-width: 10rem;
  --_slider-thumb-size: 1rem;
  --_slider-padding: 0.5rem;
  width: calc(var(--_slider-track-width) - var(--_slider-thumb-size));
  height: calc(var(--_slider-thumb-size) + var(--_slider-padding) * 2);
  margin-inline: calc(var(--_slider-thumb-size) / 2);
}
.track[data-width='full'] {
  --_slider-track-width: 100%;
}
.track[data-bottom-margin='negative'] {
  margin-bottom: -0.25rem;
}

.trackLine,
.trackFill {
  position: absolute;
  top: 50%;
  left: calc(var(--_slider-thumb-size) / -2);
  transform: translateY(-50%);
  width: calc(100% + var(--_slider-thumb-size));
  height: 0.25rem;
  border-radius: 100vw;
}

.trackLine {
  background-color: var(--clr-neutral-highlight);
}

.trackFill {
  background-color: var(--clr-primary);
  width: calc(var(--_slider-percentage) + var(--_slider-thumb-size) / 2);
}

.thumb {
  --_ring-color: transparent;
  background-color: var(--clr-accent);
  top: 50%;
  width: var(--_slider-thumb-size);
  height: var(--_slider-thumb-size);
  /* display: block; */
  border-radius: 100vw;
  box-shadow: 0 0 0 5px var(--_ring-color), var(--shadow-lg-bottom);
  outline: 1px solid transparent;
  transition-property: box-shadow;
  transition-timing-function: var(--ease-in-out);
  transition-duration: 150ms;
}
.thumb:is(:hover, [data-focused]) {
  background-color: var(--clr-accent-subtle-highlight);
}
.thumb[data-focused] {
  --_ring-color: rgb(255 255 255 / 0.25);
}
